.hero {
  width: 100%;
  display: block;
  background-color: var(--bg-secondary);
  border-bottom: 1px solid var(--border-color);
}

.hero-link {
  display: block;
  width: 100%;
}

.hero-img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  max-height: 500px;
}
